<div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto mt-10">
    <%
        const commissionAmount = bill?.commissionAmount == null ? 0 : bill?.commissionAmount;
        const gatewayfee = commissionAmount * 0.025;
        const totalAmount = commissionAmount + gatewayfee;
        const id = bill?._id == null ? "NOT_GEN" : bill?._id;
        const date = bill?.billingMonth == null ? "NOT_GEN" : bill?.billingMonth;
        const transactionId = bill?.transactionId == null ? "NOT_GEN" : bill?.transactionId;
    %>
    <div class="relative flex flex-col bg-white shadow-lg rounded-xl pointer-events-auto dark:bg-neutral-800">
        <div class="relative overflow-hidden min-h-32 bg-gray-900 text-center rounded-t-xl dark:bg-neutral-950">

            <!-- SVG Background Element -->
            <figure class="absolute inset-x-0 bottom-0 -mb-px">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 1920 100.1">
                    <path fill="currentColor" class="fill-white dark:fill-neutral-800"
                        d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                </svg>
            </figure>
            <!-- End SVG Background Element -->
        </div>
        <!-- Body -->
        <div class="p-4 sm:p-7 overflow-y-auto">
            <div class="text-center">
                <h3 id="hs-ai-modal-label" class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
                    Payment Summary
                </h3>
                <p class="text-sm text-gray-500 dark:text-neutral-500">
                    Invoice #<%= transactionId %>
                </p>
            </div>

            <!-- Grid -->
            <div class="mt-5 sm:mt-10 grid grid-cols-2 sm:grid-cols-3 gap-5">
                <div>
                    <span class="block text-xs uppercase text-gray-500 dark:text-neutral-500">Amount to pay:</span>
                    <span class="block text-sm font-medium text-gray-800 dark:text-neutral-200">₹<%= totalAmount.toFixed(2) %></span>
                </div>
                <!-- End Col -->

                <div>
                    <span class="block text-xs uppercase text-gray-500 dark:text-neutral-500">Generate Date:</span>
                    <span class="block text-sm font-medium text-gray-800 dark:text-neutral-200"><%= date %></span>
                </div>
                <!-- End Col -->

                <div>
                    <span class="block text-xs uppercase text-gray-500 dark:text-neutral-500">Payment method:</span>
                    <div class="flex items-center gap-x-2">
                        <img class="h-10" src="img/cashfree_logo.png" alt="">
                        <span class="block text-sm font-medium text-gray-800 dark:text-neutral-200">•••• 9702</span>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Grid -->

            <div class="mt-5 sm:mt-10">
                <h4 class="text-xs font-semibold uppercase text-gray-800 dark:text-neutral-200">Summary</h4>

                <ul class="mt-3 flex flex-col">
                    <li
                        class="inline-flex items-center gap-x-2 py-3 px-4 text-sm border border-gray-200 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:border-neutral-700 dark:text-neutral-200">
                        <div class="flex items-center justify-between w-full">
                            <span>Payment for Maintenance</span>
                            <span>₹<%= commissionAmount.toFixed(2) %></span>
                        </div>
                    </li>
                    <li
                        class="inline-flex items-center gap-x-2 py-3 px-4 text-sm border border-gray-200 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:border-neutral-700 dark:text-neutral-200">
                        <div class="flex items-center justify-between w-full">
                            <span>Tax fee and Gateway fee</span>
                            <span>₹<%= gatewayfee.toFixed(2) %></span>
                        </div>
                    </li>
                    <li
                        class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-semibold bg-gray-50 border border-gray-200 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-200">
                        <div class="flex items-center justify-between w-full">
                            <span>Total Amount</span>
                            <span>₹<%= totalAmount.toFixed(2) %></span>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Button -->
            <div class="mt-5 flex justify-end gap-x-2">
                <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                    href="https://mizanur.in/pay?name=feedMore&email=rakib100295@gmail.com&phone=7872727290&amount=<%= totalAmount.toFixed(2) %>&order_id=<%= transactionId %>" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
                    Pay Now
                </a>
            </div>
            <!-- End Buttons -->

            <div class="mt-5 sm:mt-10">
                <p class="text-sm text-gray-500 dark:text-neutral-500">If you have any questions, please contact us at
                    <a class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500"
                        href="#">dev@mizanur.in</a> or call at <a
                        class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500"
                        href="tel:+919475149702">+91 94751-49702</a></p>
            </div>
        </div>
        <!-- End Body -->
    </div>
</div>
